*{
    padding: 0%;
    margin: 0%;
}
#container{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 213, 213);
}
#website{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 0px 20px;
    background-color: white;
}
#header{
    display: flex;
    background-color: rgb(60, 60, 60);
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    flex-wrap: wrap;
}
#header h1{
    color: white;
    font-family: 'Roboto', sans-serif;
}
#header span{
    color: orange;
}
#join{
    margin-right: 5px;
    background-color: orange;
    color: black;
}
#nav-bar{
    display: flex;
    background-color: peachpuff;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#search{
    display: flex;
    width: 40%;
}
#search-bar{
    padding: 5px;
    border: 3px solid black;
    width: 85%;
    font-size: 17px;
    border-radius: 17px 0px 0px 17px;
}
#search-btn{
    width: 15%;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 108, 255);
    font-size: medium;
    border: 3px solid rgb(0, 0, 0);
    border-left: 0;
    padding: 5px;
    border-radius: 0px 17px 17px 0px;
}
.logo p{
    text-align: center;
}
.logo img{
    height: 80px;
    background-color: white;
    border-radius: 50%;
}
.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(45, 108, 255);
    font-size: medium;
    border: 3px solid rgb(0, 0, 0);
    width: 100px;
    padding: 5px;
    box-shadow: 4px 2px black;
}
#content{
    display: flex;
}
#main{
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
    background-color: rgb(233, 233, 233);
}
#main h2, #main h3{
    color: rgb(49, 86, 180);
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.card p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
#side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
#side-bar h3{
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid rgb(195, 195, 195);
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.info-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.likes{
    display: flex;
    align-items: center;
}
.card> img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
.likes img{
    height: 30px;
    margin-right: 10px;
}